<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentDirectoryManage</display-name>
  <welcome-file-list>
    <welcome-file>top_page.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentDirectoryManage</display-name>
    <servlet-name>StudentDirectoryManage</servlet-name>
    <servlet-class>pack.StudentDirectoryManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDirectoryManage</servlet-name>
    <url-pattern>/StudentDirectoryManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateStudents</display-name>
    <servlet-name>CreateStudents</servlet-name>
    <servlet-class>pack.CreateStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStudents</servlet-name>
    <url-pattern>/CreateStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateStudentsLogic</display-name>
    <servlet-name>CreateStudentsLogic</servlet-name>
    <servlet-class>pack.CreateStudentsLogic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStudentsLogic</servlet-name>
    <url-pattern>/CreateStudentsLogic</url-pattern>
  </servlet-mapping>
</web-app>