<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>
	</head>
	<body>
		<p>owner_id=${owner.ownerId}</p>
		<p>owner_name=${owner.ownerName}</p>
	</body>
</html>
